.herro{
    width: 1440px;
    background-color: #2e2f42;
}
.zagolovok{
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.button{
    max-width: 169px;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
}