.team{
    background: #f4f4fd;
}

.teamikon{
  background-color: #fff;;

}
.teamikon h3{
        font-weight: 500;
        font-size: 20px;
        line-height: 24px; 
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.teamikon p{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px; 
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
       
}